/* URLs Starting With: https://anvil.works/build#page: */

.create-app {
    display: none;
}

.learn-to-use {
    display: none;
}

div h2 {
    display: none;
}

.actions-list {
    display: none;
}
