[MESSAGES CONTROL]
disable = C0114,
            # -(( C0114 ))- Missing module docstring (missing-module-docstring)
          C0116,
            # -(( C0116 ))- Missing function or method docstring (missing-function-docstring)
          C0301,
            # -(( C0301 ))- Line too long (<line-length>/<max-line-length>) (line-too-long)
            # This one's irrelevant since black manages line length
          C0326,
            # -(( C0326 ))- Bad whitespace
          C0330,
            # -(( C0330 ))- Wrong hanging indentation before block (add 4 spaces)
          E0213,
            # -(( E0213 ))- Method should have "self" as first argument (no-self-argument)
          E0401
            # -(( E0401 ))- Unable to import (import-error)

[FORMAT]
# indent-after-paren = 4
indent-string = "  "
max-line-length = 111

[BASIC]
# Good variable names which should always be accepted, separated by a comma.
good-names=_,
           e,
           i,
           j,
           k,
           db,
           el,
           ex,
           ix,
           idx

# List of comma separated words that should not be checked.
spelling-ignore-words=dalias,
                      eavedata,
                      ruchomi

[MISCELLANEOUS]
# List of note tags to take in consideration, separated by a comma.
notes=BUG,
      FIXME,
      NEXT,
      TODO
