## commands with preferred args
alias black="black --line-length=99"
alias blk=black
alias blk_check="blk --check"
alias blk_diff_color="blk --diff --color"
alias blk_diff_no-color="black --diff --no-color"
alias la="gls --color=auto --group-directories-first -FAhl"
alias ls="gls --color=auto --group-directories-first -Fhl"
alias nano="nano -EMacilu$ -T 4"
alias pylint="pylint -f colorized"
alias timer="$HOME/.venv/_termdown/bin/termdown -b -c 15 -q 300 -t 'D I N G
      A
L I N G' -v Alex"
alias tasktimer="$HOME/.venv/_termdown/bin/termdown -b -c 15 -q 300 -t 'D I N G
      A
L I N G' -v Alex -T"

## ensure . works as source
alias .=source

## strip the annoying newline when using pbcopy
alias pbcopy="tr -d '\n' | pbcopy"

## uuid convenience functions
alias ,uuid-gen="uuidgen | tr '[:upper:]' '[:lower:]'"
alias ,cp-uuid-gen=",uuid-gen | pbcopy"

## replace rm with trash # see: https://github.com/sindresorhus/trash-cli
alias rm=trash

## get current ip address info
alias ipinfo="echo && curl ipinfo.io && echo && echo"

## send a notification when the process has finished
,notify_when_done() {
  command=$1; shift; eval "$command $@";
  terminal-notifier -title "All Done" -message "$command command has finished processing." -sound default -activate com.apple.Terminal
}

## cleaner exit behavior for Terminal.app
_quit_terminal_if_exiting_last_window() {
  if (( ${+TMUX} )); then
    exit
  else
    osascript -e 'tell application "Terminal"
      if (get window count) <= 1 then
        close window 1
        quit
      else
        close window 1
      end if
    end tell'
  fi
}
alias exit=_quit_terminal_if_exiting_last_window
alias e=exit
alias q=exit

## create private aliases
source $HOME/._aliases
