## Suffix Aliases
alias -s css=subl
alias -s html=subl
alias -s ini=subl
alias -s js=subl
alias -s json=subl
alias -s lua=subl
alias -s sql=subl
alias -s txt=subl
alias -s xml=subl
alias -s yaml=subl

## Global Aliases
alias -g upper="| tr '[:lower:]' '[:upper:]'"
alias -g lower="| tr '[:upper:]' '[:lower:]'"
alias -g strip="| tr -d '\n'"
alias -g copy="| pbcopy"
alias -g scopy="strip copy"
alias -g ustrip="upper strip"
alias -g lstrip="lower strip"
alias -g ucopy="upper copy"
alias -g lcopy="lower copy"
alias -g uscopy="ustrip copy"
alias -g lscopy="lstrip copy"
alias -g cat-copy="| tee >(cat copy)"
alias -g cat-scopy="| tee >(cat scopy)"
alias -g cat-ucopy="upper cat-copy"
alias -g cat-lcopy="lower cat-copy"
alias -g cat-uscopy="upper cat-scopy"
alias -g cat-lscopy="lower cat-scopy"

## macOS Aliases
if [[ $OSTYPE == darwin* ]]; then
  alias flush-dns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"
  ff() {
    if [[ $1 =~ ^$ ]]; then
      open -a /Applications/Firefox\ Developer\ Edition.app
    elif [[ $1 =~ ^https?:\/\/[a-zA-Z0-9\\.-]+\.[a-zA-Z]{2,}\/? ]]; then
      open -a /Applications/Firefox\ Developer\ Edition.app $1
    else
      echo "https://$1"
      open -a /Applications/Firefox\ Developer\ Edition.app "https://$1"
    fi
  }
fi

## Change Directory Shortcuts (path definitions in ._ file)
alias ,cd_devLocal="cd devLocal"
alias ,cd_jupLocal="cd jupLocal"

## commands with my preferred flags
alias .=source
alias black="~/.venv/.linters/bin/cblack --line-length=99"
alias blk=black
alias blk_check="blk --check"
alias blk_diff_color="blk --diff --color"
alias blk_diff_no-color="blk --diff --no-color"
alias la="gls --color=auto --group-directories-first -FAhl"
alias ls="gls --color=auto --group-directories-first -Fhl"
alias nano="nano -EMacilu$ -T 4"

## get current ip address info
alias ipinfo="echo && curl ipinfo.io && echo && echo"

## replace rm with trash # see: https://github.com/sindresorhus/trash-cli
alias rm=trash

## uuid convenience functions
alias uuidgen="uuidgen lower"
alias uuid="uuidgen cat-lscopy"
alias suuidgen="~/.venv/.zsh/bin/python -c 'from shortuuid import uuid; print(uuid())'"
alias suuid="suuidgen cat-scopy"

## timers courtesy of termdown
alias termdown-stopwatch="~/.venv/.zsh/bin/termdown -f roman"
alias ,stopwatch=termdown-stopwatch
alias ,stopwatch-with-title=",stopwatch -T"
alias termdown-timer="~/.venv/.zsh/bin/termdown -b -c 7 -f roman -t \"D I N G
      A
L I N G\" -v Alex"
alias ,timer=termdown-timer
alias ,timer-with-title=",timer -T"
timer() {
    ,timer -q 3 $1 && ,send_system_notification "Timer Complete" "Total Runtime: $1"
}
timer-with-title() {
    ,timer-with-title $1 -q 3 $2 && ,send_system_notification $1 "Total Runtime: $2"
}

## send an arbitrary system notification
,send_system_notification() {
  terminal-notifier -title "⫷(( ${1} ))⫸" -message $2 -sound default -activate com.apple.Terminal
}

## send a notification when the associated process has finished
,notify_when_done() {
  command=$1; shift; eval "$command $@";
  terminal-notifier -title "~ ⫷⫸  $command" -message "::: Complete :::" -sound default -activate com.apple.Terminal
}

## cleaner exit behavior for Terminal.app
_quit_terminal_if_exiting_last_window() {
  if (( ${+TMUX} )); then
    exit
  else
    osascript -e 'tell application "Terminal"
      if (get window count) <= 1 then
        close window 1
        quit
      else
        close window 1
      end if
    end tell'
  fi
}
alias exit=_quit_terminal_if_exiting_last_window
alias e=exit
alias q=exit

## create private aliases
source ~/._aliases
