[flake8]
extend-ignore = C812,
                  # -(( C812 ))- Missing trailing comma - ignored because Black is making these decisions
                E111,
                  # -(( E111 ))- Indentation is not a multiple of four
                E203,
                  # -(( E203 ))- whitespace before ':'
                E501,
                  # -(( E501 ))- line too long ([line-length] > [max-line-length] characters)
                  # This one's irrelevant since cblack manages line length
                F0001,
                  # -(( F0001 ))- No module named stdin (fatal)
                  # This is a red herring/non-issue. It happens when SublimeLinter-flake8 uses
                  # stdin in a way that's incompatible with Bandit.
                Q000,
                  # -(( Q000 ))- Remove bad quotes
                  # It just doesn't like double quotes, but black does.
                TYO101,
                  # -(( TYO101 ))- Move third-party import into a type-checking block
                  # Per the docs, this is only really relevant when you're trying to squeeze every
                  # last microsecond out of the process.
                W503,
                  # -(( W503 ))- Line break before binary operator
                  # This one conflicts with modern PEP-8. It'll eventually be fixed, but for now
                  # it's simplest to ignore it.
                WPS305,
                  # -(( WPS305 ))- Found 'f' string - uh yea, because they're great...
                WPS306,
                  # -(( WPS306 ))- Found class without a base class - this is outdated.
                WPS411
                  # -(( WPS411 ))- Found empty module - this is an erroneous warning... unclear why it happens.

import-order-style = spoqa
indent-size = 2
inline-quotes = "
max-line-length = 111
